fastapi
uvicorn
pydantic
python-dotenv
pyyaml

llama-index
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
llama-index-llms-openai

sentence-transformers
qdrant-client
groq

markdown
gradio
deepeval
